@model TrelloApp.ViewModel.CardViewModel
@{
    ViewBag.Title = "Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Card.Name</h2>

<div class="card-details-list">

    @if (Model.Comments.Count() == 0)
    {
        <div class="alert alert-warning" role="alert">
            No comments yet.
        </div>
    }
    else
    {
        <div class="alert alert-info comments" role="alert">
            Comments for this card:
        </div>
        foreach (var comment in Model.Comments)
        {
            <div class="card card-comment">
                <div class="card-block">
                    <h4 class="card-title">@comment.MemberCreator.FullName:</h4>
                    <p class="card-text">@comment.Data.Text</p>
                    <p class="card-text"><small class="text-muted">@comment.Date</small></p>
                </div>
            </div>
        }
    }

    <div class="comment-form">
        <h4>Write your comment here:</h4>
        @using (Html.BeginForm("Comment", "Cards", FormMethod.Post))
        {
            <input type="hidden" name="cardId" id="cardId" value="@Model.Card.Id" />
            <input type="text" name="comment" id="comment"/>
            <input type="submit" class="btn btn-primary" value="Post" />
        }
    </div>
</div>
